.Rproj.user
.Rhistory
.RData
.httr-oauth
.DS_Store
.quarto

# Files generated at runtime by tutorial setup chunks
inst/tutorials/*/counties2016.RData
inst/tutorials/*/example_data.xlsx
inst/tutorials/*/oilwomen.dta
inst/tutorials/*/unitednations.csv
